body{
    margin: 0;
    padding: 20% 40%;
    background: rgb(243, 106, 106);
}
mark{
    background: aqua;
}
h1{
    border: solid 2px;
    padding: 30px;
    background-color: rgb(243, 167, 67);
}